---
import AboutUsImg from '../assets/AboutUs.png'
---
<div class="flex flex-col items-center pt-20 h-screen gap-y-16 justify-center">
    <p class="text-[48px] font-light text-accent underline">¿Quienes Somos?</p>
    <div class="text-lg text-center">
        <p>En <span class="text-2xl text-accent">Realty's</span> somos una empresa peruana con pasión por ayudarte a encontrar el espacio ideal.</p>
        <p> Contamos con años de experiencia en el sector inmobiliario, ofreciendo un servicio transparente, personalizado y comprometido con tu comodidad.</p>
    </div>
    <div>
        <img src={AboutUsImg.src} alt="Imagen de Sobre Nosotros" class="rounded-2xl">
    </div>
</div>