---
import Button from "./Button.astro"
---
<div>
    <p>¿Listo para encontrar el departamento de tus sueños?</p>
    <p>Explora nuestras propiedades o contacta a uno de nuestros agentes expertos hoy mismo</p>
    <div>
        <Button nameButton="Comenzar ahora"/>
    </div>
</div>