---
import TomNavLogo from "./TomNavLogo.astro"
---
<div class="">
    <div class='bg-primary w-full text-white px-6 py-4 flex justify-between items-center fixed top-0 z-50'>
            <div class='md:w-40 flex flex-row align-center'>
                <a
                class=''
                href='/'>
                    <TomNavLogo/>
            </a>
                <div class='flex flex-row items-end align center mx-5 gap-x-5 whitespace-nowrap font-khmer'>
                    <a
                    class='hover:text-accent transition-colors'
                    href="#catalogo"
                    >
                        <div>Sobre Nosotros</div>
                    </a>
                    <a
                    class='hover:text-accent transition-colors'
                    href="#departamentos"
                    >
                        <div>Departamentos</div>
                    </a>
                    <a
                    class='hover:text-accent transition-colors'
                    href="#porque_elegirnos"
                    >
                        <div>Porque Elegirnos</div>
                    </a>
                    <a
                    class='hover:text-accent transition-colors'
                    href="#contactanos"
                    >
                        <div>Contactanos</div>
                    </a>
                </div>
            </div>
        </div>
</div>