---
import TomNavLogo from "./TomNavLogo.astro"
---
<div class="">
    <div class='bg-primary w-full text-white px-6 py-4 flex justify-between items-center'>
            <div class='md:w-40 flex flex-row align-center'>
                <a
                class=''
                href='/'>
                    <TomNavLogo/>
            </a>
                <div class='flex flex-row items-end align center mx-5 gap-x-5'>
                    <a
                    class='hover:text-accent transition-colors'
                    href="/catalogo"
                    >
                        <div>Catalogo</div>
                    </a>
                </div>
            </div>
        </div>
</div>