---
import HeroImage from '../assets/Departamento.jpg' 
---    
    
    <hero class="min-h-screen mx-auto px-6 flex flex-col flex-row items-center justify-between -mt-6">
        <div class="w-1/2 mb-0">
            <h1 class="text-3xl"><b>Bienvenido a Realty`s donde encontrar tu nuevo hogar es simple, seguro y confiable</b></h1>
            <p>Explora nuestros departamentos modernos comodos y ubicados en las mejores zonas <br> <span><b>¡Tu proximo espacio te esta esperando!</b></span> </p>
            <button class="bg-[#be8d63] text-white px-5 py-3 rounded-3xl hover:bg-[#a06f47] transition-colors duration-200">RESERVAR AHORA</button>
        </div>
        <div class="w-1/2 relative">
            <img src={HeroImage.src} alt="Imagen Hero" class="rounded-3xl h-10dvh">
        </div>
    </hero> 