---
import Card from "../components/Card.astro";
import DepaSurco from "../assets/D0001.png";
import MiniSanborja from "../assets/D0002.png";
import CuartoLince from "../assets/D0003.png";
---
    <div class="grid grid-cols-3 gap-4 p-4">
        <Card 
            title="Depa Surco" 
            price="2,500" 
            imageUrl={DepaSurco.src} 
            link="#"
        />

        <Card 
            title="Mini San Borja" 
            price="2,500" 
            imageUrl={MiniSanborja.src} 
            link="#"
        />

        <Card 
            title="Cuarto Lince" 
            price="2,500" 
            imageUrl={CuartoLince.src} 
            link="#"
        />

    </div>
    